/* Reset some default browser styles */
body,
ul {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family:"Montserrat" ;
    line-height: 1.6;
}

header {
    background-color: #ffa500;
    color: white;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content:space-between;
}
header .image{
    margin-top: 20px;
    width: 80px;
    height:80px;
    border: 2px solid black;
    border-radius: 50%;
    /* background-color: #ffb61a; */
    background-image: url(img1.png);
    background-size:contain;
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y: 8px;
    background-color: #a9ac98;

}
/* header .image img{
    width: inherit;
} */
header .text{
    margin-right: 40vw;
    padding-top: 1em;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: #333333;
    color: #F5F5DC;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

section {
    margin-bottom: 40px;
}
#skills {
    font-size: larger;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ffa500;
    color: white;
}
main .border{
    border: 2px solid orange;
    padding: 1em;
    border-radius: 18px;
    max-width: 80vw;
    margin:1em 0em;
    max-height: fit-content;
}

main #connect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .border ul{
    list-style-type: none;
}
main .border ul li a{
    text-decoration: none;
    color: inherit;
}

main .border ul li a:hover{
    text-decoration: none;
    color: #ffa500;
    font-size: 1.005em;
}
main #skills .border b,#skills h2{
    text-decoration: underline;
}
main #skills .specific_skills{
    color: #95ff00;
}

@media(max-width:600px){
    header .text{
        margin-right:5px;
        margin-top: 18px;
    }
    header .text{
        font-size: 10px;
    }
    #contact p,i{
        font-size: 0.8em;
    }
    main #skills{
        font-size: small;
    }
    main #about{
        font-size:medium;
    }
    header .image{
        width: 60px;
        height: 60px;
    }
}