@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AeonikTrial';
  src: url('/src/Fonts/Aeonik\ TRIAL.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}


:root{
  --font-family: 'AeonikTrial';
  color: #ffffff;
  background-color: #151925;
}

@media screen and (max-width: 640px) {
  html{
    font-size: 8px;
  }
  
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
  html{
    font-size: 10px;
  }
  
}
@media screen and (min-width: 1024px) and (max-width: 1494px) {
  html{
    font-size: 12px;
  }
}